.col-xs-12{
	height: 100px;
	background-color: orange;
	text-align: center;
}
a {
	text-decoration: none;
}
a:visited {
	color: Red;
}
a:hover {
	text-decoration: Strong;
	color: Brown;
	font-weight: bold
}
h2 {	
	color: Yellow; 
	background-color: Brown;			
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: yellow;
}